@{
    Response.Redirect("~/DLogin"); // als iemand hier zelf naartoe browsed, word hij terug gegooit naar de docenten login
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    </body>
</html>
