@{
    Functions.adminCheck();

    Page.Title = "Docent toevoegen.";
    Layout = "~/_Layout.cshtml";

    if(IsPost)
    {
        Validation.RequireField("voornaam", "Er moet een voornaam ingevuld zijn.");
        Validation.RequireField("achternaam", "Er moet een achternaam ingevuld zijn.");
        Validation.RequireField("email", "Er moet een e-mailadres ingevuld zijn.");
        Validation.RequireField("wachtwoord", "Er moet een telefoonnummer ingevuld zijn.");
 
        if(Validation.IsValid())
        {
            var db = Database.Open("studentenoverzicht");
            var updateCommand = "INSERT INTO docenten (voornaam, tussenvoegsel, achternaam, email, wachtwoord) VALUES (@0, @1, @2, @3, @4)";
            db.Execute(updateCommand, Request.Form["voornaam"], Request.Form["tussenvoegsel"], Request.Form["achternaam"], Request.Form["email"], Crypto.Hash(Request.Form["wachtwoord"], "sha256"));
            db.Close();
        }
    }
}
<div class="col-md-5"></div>
    @Html.ValidationSummary()
    <form method="post">
    <fieldset>
        <legend>Docent informatie:</legend>
        <p><input type="text" name="voornaam" placeholder="Voornaam" /></p>
        <p><input type="text" name="tussenvoegsel" placeholder="tussenvoegsel" /></p>
        <p><input type="text" name="achternaam" placeholder="Achternaam" /></p>
        <p><input type="text" name="email" placeholder="E-mail adres" /></p>
        <p><input type="password" name="wachtwoord" placeholder="Wachtwoord" /></p>            
        <p><input type="submit" name="submit" value="Docent aanmaken" /></p>
    </fieldset>
    </form>
    <a href="~/Admin"><input type="submit" value="Terug naar overzicht" /></a>
<div class="col-md-5"></div>