@using Microsoft.Web.Helpers;
@{
    Functions.adminCheck();

    var fileSavePath = "";
    var fileName = "";
    if (IsPost) 
    {
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/App_Data/UploadedFiles/" + fileName);
        uploadedFile.SaveAs(fileSavePath);
        Response.Redirect("Read.cshtml?file=" + fileSavePath);
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>Uploadpagina</title>
    </head>
    <body>
        <h2>Upload uw CSV-bestand hier:</h2>
        @FileUpload.GetHtml(
            initialNumberOfFiles:1,
            allowMoreFilesToBeAdded:false,
            includeFormTag:true,
            uploadText:"Upload")
        <br />
        <form action="crawl.cshtml" method="get">
        Een klas hun foto's uploaden:
        <input type="text" name="url" placeholder="Plak hier uw url." />
        <input type="submit" name="submit" value="Foto's ophalen" />
        </form>
        <a href="~/Admin"><input type="submit" value="Terug naar docentenoverzicht" /></a>
    </body>
</html>