@using Microsoft.Web.Helpers;
@{
    Functions.adminCheck();

    var fileSavePath = "";
    var fileName = "";
    if (IsPost) 
    {
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/App_Data/UploadedFiles/" + fileName);
        uploadedFile.SaveAs(fileSavePath);
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>Uploadpagina</title>
    </head>
    <body>
        <h2>Upload uw CSV-bestand hier:</h2>
        @FileUpload.GetHtml(
            initialNumberOfFiles:1,
            allowMoreFilesToBeAdded:false,
            includeFormTag:true,
            uploadText:"Upload")
        @if (IsPost) 
        {
            Response.Redirect("Read.cshtml?file=" + fileSavePath);
            <span>File uploaded!</span><br/>
        }
        <br />
        <a href="~/Admin"><input type="submit" value="Terug naar docentenoverzicht" /></a>
    </body>
</html>