@{
  Page.Title = "Student";
    Layout= "~/_Layout.cshtml";

    var nummer=114006;

    var db = Database.Open("studentenoverzicht") ;
    var selectCommand = "SELECT * FROM Student WHERE student_nr ="+ nummer;
    
}
@foreach(var row in db.Query(selectCommand))
   {
<h1>Student informatie van @row.voornaam @row.achternaam</h1>
}