@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
                            <div class="zoek">
                      <form method="get">   
                     <div>
        <label for="admin">Verander naar:</label>
        <select name="category">
            <option value="admin">0</option>
            <option value="admin">1</option>
        </select>
        <input type="Submit" value="admin" /><br/>  
      </div>
    </form>
</div>
    </body>
</html>
